<!DOCTYPE html>
<html>
  <head>
    <title>Furima36678</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
     <%# 上記の記述でwebpackで管理されているJavaScriptを参照 %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
